# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller (Executable building targets)
*.manifest
*.spec
build/
dist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Virtual Environment environments
.venv/
venv/
ENV/
env/

# IDE files (VS Code, PyCharm, Cursor etc.)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
